<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>dining_table_chair_set</name>
  <sdf version="1.6">urdf/dining_table_chair_set.urdf</sdf>

  <author>
    <name>michael</name>
    <email>michaelchiu300@gmail.com</email>
  </author>

  <description>
   description of SDF/URDF file
  </description>
</model>
