<robot
  name="Lazy-boy recliner">
  <link
    name="lazy_boy_recliner">
    <inertial>
      <origin
        xyz="0.48331 0.47807 0.40345"
        rpy="0 0 0" />
      <mass
        value="482.89" />
      <inertia
        ixx="74.606204736716"
        ixy="-0.0244532945799859"
        ixz="-0.0391715052439546"
        iyy="84.291052412574"
        iyz="-18.7204405013971"
        izz="88.7409431145285" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://lazy_boy_recliner/meshes/lazy_boy_recliner.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://lazy_boy_recliner/meshes/lazy_boy_recliner.STL" />
      </geometry>
    </collision>
  </link>
</robot>
