<robot
  name="toolbox_opened">
  <link
    name="toolbox_opened">
    <inertial>
      <origin
        xyz="-0.0045016 7.55510000001239E-06 0.20241"
        rpy="0 0 0" />
      <mass
        value="0.24271" />
      <inertia
        ixx="0.0104075723585885"
        ixy="-7.33497562022356E-07"
        ixz="-0.000269800408624235"
        iyy="0.01356149716352"
        iyz="-4.01629659493685E-07"
        izz="0.0186397710934835" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://toolbox_opened/meshes/toolbox_opened.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://toolbox_opened/meshes/toolbox_opened.dae" />
      </geometry>
    </collision>
  </link>
</robot>