<robot
  name="scissors">
  <link
    name="scissors">
    <inertial>
      <origin
        xyz="-0.00089127 -0.027071 0.000721860000000002"
        rpy="0 0 0" />
      <mass
        value="0.01045" />
      <inertia
        ixx="1.61726949469976E-05"
        ixy="6.76455958914098E-07"
        ixz="2.36212184801829E-09"
        iyy="1.58221133425999E-06"
        iyz="1.09280232693893E-10"
        izz="1.77200694819693E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scissors/meshes/scissors.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.89804 0.89804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scissors/meshes/scissors.dae" />
      </geometry>
    </collision>
  </link>
</robot>