<?xml version="1.0"?>
<model>
  <name>floor_plan_1</name>
  <version>1.0</version>
  <sdf version='1.6'>apartment_floor_plan.urdf</sdf>

  <author>
   <name>Michael Chiou</name>
   <email>michaelchiu300@gmail.com</email>
  </author>

  <description>
    Downloaded simple floor plan with stairs and small rooms (small suburban house area) 
  </description>
</model>
