<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>toothbrush2</name>
  <sdf version="1.6">urdf/toothbrush2.urdf</sdf>

  <author>
    <name>michael</name>
    <email>michaelchiu300@gmail.com</email>
  </author>

  <description>
   description of SDF/URDF file
  </description>
</model>
